// html {
//     background: firebrick
// }

body {
    background-color: firebrick;
    line-height: 1.6;
}

.row {
    margin-left: 200px;
    // margin-right: 200px;
}

.container {
    padding: 10px;
    margin-left: 300px;
    // margin-right: 200px;
}

h1 {
    line-height: 1;
    font-size: 3.12rem;
    text-align: center;
    margin: auto;

    span {
        color: burlywood;
        font-family: sans-serif;
        display: block;
        font-size: 5.5rem;
        text-align: center;
        background-color: firebrick;


    }

    &::before,
    &::after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 60%;
        background: darksalmon;
    }


}

h2 {
    color: forestgreen;
    font-size: 2rem;
    color: burlywood;
    line-height: 1;
    font-family: sans-serif;
    margin-top: 0 auto;
    margin-bottom: 1rem;
}



.welcome {
    background-color: firebrick;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

img {
    max-width: 100%;
}

.hola {
    display: flex;
    color: white;
}

.imageMiddle {
    display: flex;
    background: firebrick;
    color: white;
    text-align: center;

}