html {
  background: blue; }

h1 {
  color: blue; }

  /*---------------------------*/
  .container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: blue;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/*------------------------------------*/
  /*https://www.formget.com/css-search-box/*/
            /* search box */
  .cf:before, .cf:after{
  content:"";
  display:table;
  }
  .cf:after{
  clear:both;
  }
    
  .form-wrapper-2 {
  width: 330px;
  background: #555;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  }
  .form-wrapper-2 input {
  width: 220px;
  height: 40px;
  font: bold 15px 'Raleway', sans-serif;
  background: #eee;
  }
  .form-wrapper-2 input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }
  .form-wrapper-2 input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  }
  .form-wrapper-2 input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  }
  .form-wrapper-2 input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  }
  .form-wrapper-2 button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'Raleway', sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: blue;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  }
  .form-wrapper-2 button:hover{
  background: green;
  }
  .form-wrapper-2 button:active,
  .form-wrapper-2 button:focus{
  background: #c42f2f;
  }
  .form-wrapper-2 button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent blue transparent;
  top: 12px;
  left: -6px;
  }
  .form-wrapper-2 button:hover:before{
  border-right-color: blue;
  }
  .form-wrapper-2 button:focus:before{
  border-right-color: #c42f2f;
  }
  .form-wrapper-2 button::-moz-focus-inner {
  border: 0;
  padding: 0;
  }